<!--
  templateType: page
  isAvailableForNewContent: true
  label: Home no module
  screenshotPath: ../images/template-previews/home.png
-->
{% extends "./layouts/base.html" %}

{% block body %}

  {# Flickity Carousel #}
  {{ require_css("https://unpkg.com/flickity@2/dist/flickity.min.css") }}
  {{ require_js("https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js", "footer") }}

  {# Home CSS #}
  {{ require_css(get_asset_url('/Wild7-Theme-November2021/css/templates/home.css')) }} 

  {# Getting HubDB data #} 

  {% set parent = hubdb_table_rows(dynamic_page_hubdb_table_id) %}

  {% if dynamic_page_route_level == 0 %}
  <section class="grid">
  <div class="gallery-container">
    <div class="main-carousel" data-flickity='{ "cellAlign": "center", "contain": true, "autoPlay": true, "draggable": true, "wrapAround":true, "imagesLoaded": true, "laxyLoad": true, "prevNextButtons": false }'>

    {% for row in parent %}
      <div class="productions-index__post gallery-cell {% if loop.index % 2 == 0 %}even{% else %}odd{% endif %}" aria-label="{{ row.hs_name }}">

        {# Production poster #}
        {% if row.poster %}
        <a class="productions-index__poster-wrapper" href="{{ absolute_url }}/{{ row.hs_path }}" aria-label="Production image: {{ row.hs_name }}">
          <img class="productions-index__poster" src="{{ row.poster.url }}" loading="lazy" alt="{{ row.hs_name }}" width="250">
        </a>
        {% endif %}
      
      </div>
    {% endfor %}

    </div>
    </div>
  </section>

  {% elif dynamic_page_route_level == 1 %}
    
  <section class="production-details-container">

    {# Title #}
    {% if dynamic_page_hubdb_row.title %}
      <h1 class="production__title">{{ dynamic_page_hubdb_row.title }}</h1>
    {% endif %}

    {# Production Image #}
    {% if dynamic_page_hubdb_row.image %}
      <img class="production__image" src="{{ dynamic_page_hubdb_row.image.url }}" loading="lazy" alt="{{ dynamic_page_hubdb_row.hs_name }}">
    {% endif %}
    
    {# Production Details #}
    {% if dynamic_page_hubdb_row.details %}
      <div class="production__details">
        {{ dynamic_page_hubdb_row.details }}
      </div>
    {% endif %}
      
  </section>

  <section class="production-posts-container" id="production-posts-container">

    {# Movie-specific listing #}
    {% set options = hubdb_table_column(dynamic_page_hubdb_row.hs_child_table_id, 5).options %}
    {% set options_param_list = [] %}

    {# Side navigation #}
    <div class="side-navigation-container">
        <ul class="side-navigation stuck" id="side-navigation">
          <a href="{{ absolute_url }}/{{ post.hs_path }}?type=show-all#production-posts"><li class="type side-nav-odd">Show all</li></a>
          {% for option in options %}
            {% do options_param_list.append(option.id) %}
            <a href="{{ absolute_url }}/{{ post.hs_path }}?type={{ option.id }}#production-posts"><li class="type {% if loop.index % 2 == 0 %}side-nav-odd{% else %}side-nav-even{% endif %}">{{ option.name }}</li></a>
          {% endfor %}
        </ul>
    </div>

    {# Handling query parameters #}
    {% set queryparam = "orderBy=-publish-date" %}
    {% if request.query_dict.type in options_param_list %}
        {% set queryparam = queryparam ~ "orderBy=-publish-date&type="~request.query_dict.type|urlencode %}
    {% endif %}
    {% if request.query_dict.type == "show-all" %}
        {% set queryparam = queryparam %}
    {% endif %}
    
    <div id="production-posts" class="production-posts">
      
      {# Listing #}
      {% for row in hubdb_table_rows(dynamic_page_hubdb_row.hs_child_table_id, queryparam) %}
        <div class="production-posts__post" aria-label="{{ row.hs_name }}">
    
          {# Production poster #}
          {% if row.image %}
          <a class="production-posts__image-wrapper" href="{% if row.direct_url %}{{ row.direct_url }}{% else %}{{ absolute_url }}/{{ row.hs_path }}{% endif %}" aria-label="Post image: {{ row.hs_name }}">
            <img class="production-posts__image" src="{{ row.image.url }}" loading="lazy" alt="{{ row.hs_name }}">
          </a>
          {% endif %}
        
        </div>
        {% endfor %}
    </div> 
  </section>

  {% elif dynamic_page_route_level == 2 %}

  <section class="production-details-container">
      {# Title #}
      {% if dynamic_page_hubdb_row.title %}
      <h1 class="production__title">{{ dynamic_page_hubdb_row.title }}</h1>
      {% endif %}

      <div class="">

        {# Production Image #}
        {% if dynamic_page_hubdb_row.image %}
          <img class="production__image" src="{{ dynamic_page_hubdb_row.image.url }}" loading="lazy" alt="{{ dynamic_page_hubdb_row.hs_name }}">
          {% endif %}
      
        {# Production Details #}
        {% if dynamic_page_hubdb_row.details %}
        <div class="production__details">
          {{ dynamic_page_hubdb_row.details }}
        </div>
        {% endif %}

      </div> 

  </section>

{% endif %}


{% endblock body %}