/* Menu */

.menu--desktop {
  display: block;
}

.menu--mobile {
  display: none;
}

@media (max-width: 767px) {
  .menu--desktop {
    display: none;
  }

  .menu--mobile {
    display: block;
  }
}

/* Menu items */

.menu__item {
  position: relative;
}

.menu__link {
  font-size: 0.917rem;
  line-height: 1.667rem;
  text-decoration: none;
}

.menu__link:hover,
.menu__link:focus,
.menu__link:active {
  text-decoration: none;
}

.menu__link--active-link,
.menu__link--active-branch {
  font-weight: bold;
}

@media (min-width: 768px) and (max-width: 1150px) {
  .menu__link {
    font-size: 0.833rem;
  }
}

@media (max-width: 767px) {
  .menu__item {
    display: block;
    width: 100%;
  }

  .menu__link {
    display: block;
    font-size: .9rem;
    text-align: center;
  }
  
  .frosted-glass {
    height: 350px;
  }
}

/* Menu items - top level */

.menu__item--depth-1 {
  display: inline-block;
  padding: 0 .875rem 0 .875rem;
  text-transform: uppercase;
}

.menu__item--depth-1 > .menu__link--active-link:after {
  bottom: -3px;
  content: '';
  height: 2px;
  left: 0;
  position: absolute;
  width: 100%;
}

@media (max-width: 767px) {
  .menu__item--depth-1 {
    padding: 0;
  }

  .menu__item--depth-1 > .menu__link {
    padding: 0.35rem 1.225rem;
  }

  .menu__item--depth-1 > .menu__link--active-link:after {
    content: none;
  }
}

.menu__item:nth-child(even):hover .menu__link,
.menu__item:nth-child(even) .menu__link:active,
.menu__item:nth-child(even) .menu__link:focus,
.menu__item:nth-child(even) .menu__link--active-link,
.menu__item:nth-child(even) .menu__link--active-branch {
  color: #eb3744 !important;
}

.menu__item:nth-child(odd):hover .menu__link,
.menu__item:nth-child(odd) .menu__link:active,
.menu__item:nth-child(odd) .menu__link:focus,
.menu__item:nth-child(odd) .menu__link--active-link,
.menu__item:nth-child(odd) .menu__link--active-branch {
  color: #73fbfd !important;
}

/* TODO: Remove underline on active branch 
   and a:active styling in overrides */

#hs_cos_wrapper_navigation-primary .menu .menu__item--depth-1>.menu__link--active-link:after {
  background-color: transparent !important;
}

.menu__link:active { 
  font-size: .917rem;
  line-height: 1.667rem;
  text-decoration: none;
  font-family: Bebas Neue !important;
  font-style: normal;
}

/* END OF TODO */

.menu--mobile {
  position: absolute;
  top: 0;
  margin-top: 46px;
  box-shadow: 0 0 25px 0 rgb(0 0 0 / 99%);
}

.menu--mobile .menu__wrapper {
  background-color: black;
}

.menu__feed-categories {
  background-color: rgba(0,0,0,.9);
  column-count: 3;

}

.menu__feed-categories .menu__link {
  font-size: .8rem;
}