{# TODO: Use flexbox instead of margin to center content #}

<section class="team-wrapper">
      
  {# Listing #}
  {% for team_member in hubdb_table_rows(module.hubdbtable) %}
    <div class="team-member__card-wrapper" aria-label="{{ team_member.hs_name }}">

      {# Production poster #}
      {% if team_member.image %}
      <a class="team-member__image-wrapper" href="{% if team_member.direct_url %}{{ team_member.direct_url }}{% else %}{{ absolute_url }}/{{ team_member.hs_path }}{% endif %}" aria-label="Post image: {{ team_member.hs_name }}">
        <img class="team-member__image" src="{{ team_member.image.url }}" loading="lazy" alt="{{ team_member.hs_name }}">
      </a>
      {% endif %}
    
    </div>
    {% endfor %}
  </div> 

</section>
