{# Getting HubDB data #} 

{% set parent = hubdb_table_rows(dynamic_page_hubdb_table_id) %}

<section class="productions-index">
  {% if dynamic_page_route_level == 0 %}

    {# Listing page #}

    {% for row in parent %}
    <div class="productions-index__post" aria-label="{{ row.hs_name }}">

      {# Production poster #}
      {% if row.poster %}
      <a class="productions-index__poster-wrapper" href="{{ absolute_url }}/{{ row.hs_path }}" aria-label="Production image: {{ row.hs_name }}">
        <svg class="left-angle" width="100" viewBox="0 0 105.83333 105.83334">
          <use xlink:href="#left-angle"></use>
        </svg>
        <img class="productions-index__poster" src="{{ row.poster.url }}" loading="lazy" alt="{{ row.hs_name }}" width="250">
        <svg class="right-angle" width="100" height="100" viewBox="0 0 105.83333 105.83334">
          <use xlink:href="#right-angle" ></use>
        </svg>
        </a>
      {% endif %}
    
    </div>
    {% endfor %}

  {% elif dynamic_page_route_level == 1 %}

    {# Title #}
    {% if dynamic_page_hubdb_row.title %}
    <h1 class="production__title">{{ dynamic_page_hubdb_row.title }}</h1>
    {% endif %}
    
    {# Production Image #}
    {% if dynamic_page_hubdb_row.image %}
    <img class="production__image" src="{{ dynamic_page_hubdb_row.image.url }}" loading="lazy" alt="{{ dynamic_page_hubdb_row.hs_name }}">
    {% endif %}

    {# Production Details #}
    {% if dynamic_page_hubdb_row.details %}
    <div class="production__details">
      {{ dynamic_page_hubdb_row.details }}
    </div>
    {% endif %}

  </section>

  <section class="production-posts-container">

    {# Movie-specific listing #}
    {% set options = hubdb_table_column(dynamic_page_hubdb_row.hs_child_table_id, 5).options %}
    {% set options_param_list = [] %}

    {# Side navigation #}
    <ul style="width: 100%;">
      <a href="{{ absolute_url }}/{{ post.hs_path }}?type=show-all#production-posts"><li class="type">Show all</li></a>
      {% for option in options %}
        {% do options_param_list.append(option.id) %}
        <a href="{{ absolute_url }}/{{ post.hs_path }}?type={{ option.id }}#production-posts"><li class="type">{{ option.name }}</li></a>
      {% endfor %}
    </ul>
  
    {# Handling query parameters #}
    {% set queryparam = "orderBy=-publish-date" %}
    {% if request.query_dict.type in options_param_list %}
        {% set queryparam = queryparam ~ "orderBy=-publish-date&type="~request.query_dict.type|urlencode %}
    {% endif %}
    {% if request.query_dict.type == "show-all" %}
        {% set queryparam = queryparam %}
    {% endif %}
    
    <div id="production-posts" class="production-posts">
      
      {# Listing #}
      {% for row in hubdb_table_rows(dynamic_page_hubdb_row.hs_child_table_id, queryparam) %}
        <div class="production-posts__post" aria-label="{{ row.hs_name }}">
    
          {# Production poster #}
          {% if row.image %}
          <a class="production-posts__image-wrapper" href="{% if row.direct_url %}{{ row.direct_url }}{% else %}{{ absolute_url }}/{{ row.hs_path }}{% endif %}" aria-label="Post image: {{ row.hs_name }}">
            <img class="production-posts__image" src="{{ row.image.url }}" loading="lazy" alt="{{ row.hs_name }}">
          </a>
          {% endif %}
        
        </div>
        {% endfor %}
    </div> 

  {% elif dynamic_page_route_level == 2 %}

    {# Title #}
    {% if dynamic_page_hubdb_row.title %}
    <h1 class="production__title">{{ dynamic_page_hubdb_row.title }}</h1>
    {% endif %}
    
    {# Production Image #}
    {% if dynamic_page_hubdb_row.image %}
    <img class="production__image" src="{{ dynamic_page_hubdb_row.image.url }}" loading="lazy" alt="{{ dynamic_page_hubdb_row.hs_name }}">
    {% endif %}

    {# Production Details #}
    {% if dynamic_page_hubdb_row.details %}
    <div class="production__details">
      {{ dynamic_page_hubdb_row.details }}
    </div>
    {% endif %}  

  {% endif %}

</section>

{# Frame SVGs #}

<svg>
  <defs
     id="defs2" />
  <symbol id="layer1">
    <path
       id="left-angle"
       style="fill:#383b56;fill-opacity:1;stroke-width:7.58804"
       d="M 0.03352979,0.02644136 V 15.70507 105.85978 H 15.711939 V 15.70507 H 105.86686 V 0.02644136 H 15.711939 Z" />
       <path
       id="right-angle"
       style="fill:#383b56;fill-opacity:1;stroke-width:7.58804"
       d="M 105.86686,105.85978 V 90.181156 0.02644557 H 90.188451 V 90.181156 H 0.03352558 V 105.85978 H 90.188451 Z" />
  </symbol>
</svg>
