{# TODO: Create a list that will contain all the posts and order by date 
 regardless of what film they are in #}

{# Getting HubDB data #} 

{% set parent = hubdb_table_rows(dynamic_page_hubdb_table_id) %}
{% set ray = [] %}

<section class="productions-index">
  {% if dynamic_page_route_level == 0 %}

    {% for row in parent %}
      {% for post in hubdb_table_rows(row.hs_child_table_id)|sort(False, False, 'createdAt') %}
        {{ post|pprint }}<br>
        {# {% do ray.append(post) %} #}
        
      {% endfor %}
    {% endfor %}

    {{ ray|pprint }}



    {# Listing page #}

    {% for row in parent %}
      <div id="production-posts" class="production-posts">
      
      {# Listing #}

      {% for post in hubdb_table_rows(row.hs_child_table_id) %}
        <div class="production-posts__post" aria-label="{{ post.hs_name }}">
    
          {# Production poster #}
          {% if post.image %}
          <a class="production-posts__image-wrapper" href="{% if post.direct_url %}{{ post.direct_url }}{% else %}{{ absolute_url }}/{{ row.hs_path }}/{{ post.hs_path }}{% endif %}" aria-label="Post image: {{ post.hs_name }}">
            <img class="production-posts__image" src="{{ post.image.url }}" loading="lazy" alt="{{ post.hs_name }}">
          </a>
          {% endif %}
        
        </div>
        {% endfor %}
    </div> 


    {% endfor %}

    

  {% elif dynamic_page_route_level == 2 %}

    {# Title #}
    {% if dynamic_page_hubdb_row.title %}
    <h1 class="production__title">{{ dynamic_page_hubdb_row.title }}</h1>
    {% endif %}
    
    {# Production Image #}
    {% if dynamic_page_hubdb_row.image %}
    <img class="production__image" src="{{ dynamic_page_hubdb_row.image.url }}" loading="lazy" alt="{{ dynamic_page_hubdb_row.hs_name }}">
    {% endif %}

    {# Production Details #}
    {% if dynamic_page_hubdb_row.details %}
    <div class="production__details">
      {{ dynamic_page_hubdb_row.details }}
    </div>
    {% endif %}  

  {% endif %}
</section>
