.site-background {
  position: fixed;
  z-index: -3;
  width: 100vw;
  height: 100vh;
  min-height: 100%;
  top: 0;
  left: 0;
  background: #121218;
  -webkit-transform: translate3d(0,0,0);
}

/* Header padding for main content */

#main-content {
  padding-top: 100px;
  padding-bottom: 100px;
  /* transform: translateY(100%); */
  opacity: 0;
  filter: blur(10px);
  transition: cubic-bezier(.075,.82,.165,1) 1s;
}

/* .fadeInSlideUp {
  opacity: 1 !important;
  transform: translateY(0) !important;
} */

.blurAnimation {
  filter: none !important;
  opacity: 1 !important;
}

:root {
  --mouse-x: 0px;
  --mouse-y: 0px;
}

#dot {
  height: 200px;
  width: 200px;
  background-color: #EB3744;
  border-radius: 50%;
  display: inline-block;
  position: fixed;
  left: var(--mouse-x);
  top: var(--mouse-y);
  filter: blur(180px) saturate(180%);
  /* transition: filter 1s; */
  z-index: -2;
}

/* @media (max-width: 767px) {
  #dot {
    filter: saturate(100%);
  }
} */

/* .background-blur {
  position: fixed;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  backdrop-filter: blur(180px);
  -webkit-backdrop-filter: blur(180px);
  -moz-backdrop-filter: blur(180px);
  -webkit-transform: translate3d(0,0,0);
} */

/* #dot-blue {
  height: 200px;
  width: 200px;
  background-color: #73FBFD;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: var(--mouse-x);
  top: var(--mouse-y);
  filter: blur(50px);
  transition: filter 1s;
  z-index: -1;
} */

.animation {
  height: 100px !important;
  width: 100px !important;
  filter: blur(70px) !important;
}
