/* On load animation */



/* Frosted glass */

.frosted-glass {
  position: fixed;
  width: 100%;
  height: 44px;
  top: 0;
  left: 0;
  backdrop-filter: saturate(180%) blur(20px);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  -moz-backdrop-filter: saturate(180%) blur(20px);
  z-index: 9998;
}

.frosted-glass__animation2 {
  /* transform: translateY(-150vw);
  -webkit-transform:translateY(-150vw); */
  transition: height 1.43s cubic-bezier(.075, .82, .165, 1);
  -webkit-transition: height 1.43s cubic-bezier(.075, .82, .165, 1);
  height: 355px !important;
}

.frosted-glass__animation {
  /* transform: translateY(-150vw);
  -webkit-transform:translateY(-150vw); */
  transition: height 1.2s cubic-bezier(.075, .82, .165, 1);
  -webkit-transition: height 1.2s cubic-bezier(.075, .82, .165, 1);
  height: 275px !important;
}

.frosted-glass--mobile-main,
.frosted-glass--mobile-categories {
  display: none;
  position: fixed;
  width: 100vw;
  height: 1px;
  top: 0;
  left: 0;
  backdrop-filter: saturate(180%) blur(20px);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  z-index: 97;
}

@media (max-width: 767px) {
  .frosted-glass--mobile-main,  
  .frosted-glass--mobile-categories {
    display: block;
  }   
}

.header {
  width: 100%;
  height: 44px;
  position: fixed;
  background-color: black !important;
  z-index: 9999;
}

@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
  .header {
    opacity: .9;
    background-color: rgba(0,0,0,0.8) !important;
    backdrop-filter: saturate(180%) blur(20px);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
  }
}

/* Navigation skipper */

.header__skip {
  height: 1px;
  left: -1000px;
  overflow: hidden;
  position: absolute;
  text-align: left;
  top: -1000px;
  width: 1px;
}

.header__skip:hover,
.header__skip:focus,
.header__skip:active {
  height: auto;
  left: 0;
  overflow: visible;
  top: 0;
  width: auto;
}

/* Logo */

.header__logo {
  align-items: center;
  display: flex;
  width: auto;
  height: 30px;
  max-width: 150px;
  overflow: hidden;
}

.header__logo img {
  max-height: 30px;
  width: auto !important;
}

.header__logo .logo-company-name {
  font-size: 1.167rem;
  margin-top: 0.7rem;
}

/* Header container */

.header__container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 46px;
}

.header__row-1,
.header__row-2 {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

/* Mobile navigation */

.header__hamburger {
  display: none;
  grid-area: toggle;
  justify-self: end;
  margin-right: 20px;
  position: relative;
  width: 25px;
  height: 25px;
  cursor: pointer;
  appearance: none;
  background: none;
  outline: none;
  border: none;
}

.header__hamburger:before,
.header__hamburger:after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background-color: white;
  margin: 6px 0px;
  transition: 0.4s;
}

.header__hamburger.is-active:before {
  transform: rotate(-45deg) translate (-5px, 4px);
}

.header__hamburger.is-active:after {
  transform: rotate(45deg) translate (-1px, -1px);
}

@media (max-width: 767px) {

  .header { 
    height: 48px;
    background-color: black !important;
  }

  .header__container {
    display: grid;
    height: 48px;
    grid-template-columns: repeat(3,1fr);
    grid-template-areas: ". logo toggle";

  }

  .header__logo {
    grid-area: logo;
    justify-self: center;
  }

  .header__hamburger {
    display: block;
  }

}

