.productions-index,
.production-posts-container  {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;
  justify-content: center;
  max-width: 700px;
}

.production-posts-container {
  margin: 100px auto 0px auto;
}

.productions-index__post {
    flex: 0 0 100%;
    padding: 1px 2px;
}

.productions-index__poster {
  height: auto;
  max-width: 100%;
  width: 100%;
  min-width: 100%;
  min-height: 100%;
}

@media screen and (min-width: 768px) {
  .productions-index__post {
    flex: 0 0 calc(100% / 3);
    display: flex;
    justify-content: center;
  }
}

@media screen and (min-width: 1000px) {
  .productions-index__post {
    flex: 0 0 calc(100% / 3);
    display: flex;
    justify-content: center;
  }
}

/* Production level */

.production__title {
  font-size: 1.25rem;
}

.production__image {
  width: 100%;
  height: auto;
}

.production__details {
  font-size: 15px;
  display: inline;
  width: 100%;
  padding: 1rem 0;
}

.productions-index ul a {
  font-family: 'Bebas Neue',cursive !important;
}

.production-posts {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(auto-fit, 200px);
  grid-gap: 2px;
  grid-auto-flow: dense;
  width: 100%;
  max-width: 700px;
}

.production-posts__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 768px) {
  .production-posts {
    grid-template-columns: repeat(2,1fr);
  }
}