{# Getting HubDB data #}
{# https://app.hubspot.com/design-manager/5004811/modules/43594811709 #}
{# TODO: set a value for list_type #}

<section class="productions-index">
  {% if dynamic_page_route_level == 0 %}

    {# Listing page #}

    {% for row in hubdb_table_rows(5308043) %}
      <div class="productions-index__post" aria-label="{{ row.hs_name }}">

      {# Featured image #}
      {% if row.image %}
      <a class="productions-index__post-image-wrapper" href="{{ row.hs_path }}" aria-label="Production image: {{ row.hs_name }}">
      {{ row.name|pprint }}
        <img class="productions-index__post-image" src="{{ row.image.url }}" loading="lazy" alt="{{ row.featured_image_alt_text }}" width="365">
      </a>
    {% endif %}
    
      </div>
  {% endfor %}

  {% elif dynamic_page_route_level == 1 %}
    {# Individual production page #}

  {% elif dynamic_page_route_level == 2 %}
    {# Each BTS, Social page #}

  {% endif %}
</section>
